<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.akexorcist.splashscreen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Main" />
        <activity android:name=".c" />
        <activity
            android:name=".AddActivity"
            android:label="@string/title_activity_add" >
        </activity>
        <activity
            android:name=".ViewallActivity"
            android:label="@string/title_activity_viewall" >
        </activity>
        <activity
            android:name=".ViewCalendar"
            android:label="@string/title_activity_view_calendar" >
        </activity>
        <activity
            android:name=".SQLiteDatabaseActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".QRcodeMain"
            android:label="@string/app_name" >
        </activity>


    </application>

</manifest>
